
@font-face {
    font-family: 'Atlas Grotesk Bold';
    src: url('../assets/AtlasGrotesk-Bold.woff2') format('woff2'),
         url('../assets/AtlasGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Atlas Grotesk Regular';
    src: url('../assets/AtlasGrotesk-Regular.woff2') format('woff2'),
         url('../assets/AtlasGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}