.comp-form {
    // width: 600px;
    margin: 40px 0;
    display: flex;
    flex-flow: row wrap;

    input[type=text],
    input[type=email] {
        width: 150px;
        max-width: calc(50% - 50px);
        margin: 0px 25px;
        border: 0;
        border-bottom: 1px solid #000;
    }

    input[type=number] {
        margin: 10px 25px;
    }

    input[type=submit] {

    }

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none; 
    }

}

.root {
    margin: 100px auto;
    width: 1000px;
}

.comp-card {
    position: relative;
    display: flex;
    max-width: 100%;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    background: #fff;
}

.block__left {
    position: relative;
    width: 50%;
    background: url(../img/background.png) no-repeat;
    background-size: cover;
    display: flex;
}

.block__left--container,
.block__right--container,
.block__right--container-disclaimer {
    margin: 65px 50px 0;
}

.logo-container {
    display: flex;
    justify-content: space-between;
}

img.logo.logo__left {
    width: auto;
    height: 20px;
}

img.logo.logo__right {
    height: 50px;
}

.block__left--heading,
.block__right--heading {
    margin: 55px 0 0 0;
}

.block__left--heading h2 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    line-height: 60px;
    font-weight: 500;
}

.block__left--subheading {
    margin: 50px 0 0 0;
}

.block__left--subheading h4 {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}

.block__right {
    width: 50%;
    position: relative;
    background: #eeeeee;
}

.block__right--container {
    display: flex;
    flex-direction: column;
    // overflow-y: scroll; 
}

.block__right--heading h4 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.block__right--subheading p {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 28px;
    font-weight: 500;
}

.block__right--form {
    width: 100%;
    height: 300px;
    background: #fff;
}

.block__right--disclaimer {
    width: 100%;
    background: #004346;
}

.block__right--container-disclaimer p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 16px;
    padding: 20px 0;
}